@model Ecommerce_ASPNET8.Models.Cart

@{
	ViewData["Title"] = "Cart";
}

<h3>Cart</h3>

@if(Model.Items.Count > 0)
{
	<table class="table">
		<thead>
			<tr>
				<th>Product</th>
				<th>Quantity</th>
				<th>Price</th>
				<th>Cost</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Items)
			{
				<tr>
					<td>@item.Product</td>
					<td>@item.Quantity</td>
					<td>@item.Product.Price</td>
					<td>@(Math.Round(item.Cost,2))</td>
					<td>
						<form action="/Cart/Remove" method="post">
							<input type="hidden" name="productId" value="@item.Product.Id"/>
							<button type="submit">Remove</button>
						</form>
					</td>
				</tr>	
			}
		</tbody>
	</table>
}